*{
    margin:0;
    padding:0;

}



.nav{
    width:100%;
    text-align:left;
    background: #000000;
}


.logo h1{
    font-size:30px;
    background: #000000;
    color:white;

}



.nav ul{
    width:100%;
    display:flex;
    justify-content:center;


}

.nav ul li{
    list-style:none;
    margin:0 20px;
}
.foot{
position:fixed;
bottom:5px;
height:5px;
text-align:center;
line-height:0px;
width:100%
}